<!-- move base -->
<launch>
  <master auto="start"/>

  <arg name="namespace"/>


<param name="use_sim_time" value="true" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="3.0" />
    <param name="oscillation_timeout" value="30.0" />
    <param name="oscillation_distance" value="0.5" />
    <param name="planner_patience" value="1" />
    <param name="controller_patience" value="1" /> 
    <remap from="mobile_base/commands/velocity" to="cmd_vel"/>
    <param name="recovery_behavior_enabled" value="false" />
    <rosparam file="$(find my_simulations)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_simulations)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_simulations)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_simulations)/param/global_costmap_params.yaml" command="load" />
    <!--rosparam file="$(find my_simulations)/param/base_local_planner_params.yaml" command="load" /-->  

    <rosparam file="$(find my_simulations)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find my_simulations)/param/move_base_params.yaml" command="load" />

    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="base_link"/>
    <param name="global_costmap/laser_scan_sensor/sensor_frame" value="laser_joint"/>
    <param name="global_costmap/laser_scan_sensor/topic" value="scan"/>    
    <param name="local_costmap/global_frame" value="odom"/>
    <param name="local_costmap/robot_base_frame" value="base_link"/>
    <param name="local_costmap/laser_scan_sensor/sensor_frame" value="laser_joint"/>
    <param name="local_costmap/laser_scan_sensor/topic" value="scan"/>
    <param name="local_costmap/obstacle_layer/laser_scan_sensor/topic" value="scan"/>

    <param name="DWAPlannerROS/global_frame_id" value="odom"/>
  </node>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="chassis"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="odom" />
  <arg name="laser_topic" default="kinect/scan" />


  <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navros_pkg)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navros_pkg)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find navros_pkg)/param/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find navros_pkg)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find navros_pkg)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find navros_pkg)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find navros_pkg)/param/navfn_global_planner_params.yaml" command="load" />
    

    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
  </node-->

</launch>
